.sidebar {
    height: 80px;
    width: 100%;
    display: inline-block;
    margin-top: 40px;
}

.title {
    border-bottom: 2px solid #4EB1BA;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}
