@media screen and (max-width: 819px) {
  .animeInfoContainer {
    justify-content: space-around;

    width: 80vw;

    margin-left: 0;
  }
}

@media screen and (min-width: 820px) {
  .animeInfoContainer {
    position: absolute;
    left: 0;
    top: 150px;
    justify-content: space-between;

    width: 60%;
    margin-left: 20px;
  }
}

.animeInfoContainer {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;
}

.animeInfo {
  width: 110px;
  margin-bottom: 20px;
}
