@media screen and (max-width: 800px) {
  .сontainer {
    width: 80vw;
    margin: 0 auto;

    color: var(--font-color);
  }
}

@media screen and (min-width: 801px) {
  .сontainer { 
    position: relative;
    
    width: 800px;
    margin: 0 auto;
    
    font-size: 16px;
    color: var(--font-color);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;

  border: 5px solid rgba(105, 105, 105, 0.5);
  border-top: 5px solid rgb(255, 255, 255);

  border-radius: 50%;
  
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}