@media screen and (max-width: 819px) {
  .сontainer {
    width: 90vw;
    margin: 0 auto;

    color: var(--font-color);
  }
}

@media screen and (min-width: 820px) {
  .сontainer { 
    position: relative;
    
    width: 800px;
    margin: 0 auto;
    
    font-size: 16px;
    color: var(--font-color);
  }
}
