@media screen and (max-width: 800px) {
  * {  
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    --bg-color: #ffffff;
    background-color: var(--bg-color);
  }

  .сontainer {
    /* import a theme*/
    composes: colors from "./CSS/theme.css";

    width: 80vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 801px) {
  * {  
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    --bg-color: #222930;
    background-color: var(--bg-color);
  }

  .сontainer { 
    /* import a theme*/
    composes: colors from "./CSS/theme.css";

    position: relative;
    
    width: 800px;
    margin: 0 auto;
    
    font-size: 16px;
    color: var(--font-color);
  }
}
