@media screen and (max-width: 800px) {
  .sidebar {
    width: 80vw;
    margin-top: 2vh;
  }
}

@media screen and (min-width: 801px) {
  .sidebar {
    position: absolute;
    right: 0;
    top: 150px;
    width: 30%;
  }
}

.sidebar {
  border: 1px solid #E9E9E9;
}

/* button */
.getAnimeButton {
  composes: buttonReset from '../CSS/reset.css';
  display: block;

  margin: 5px 10px;
  padding: 5px 10px;

  background-color: #E9E9E9;
}

.getAnimeButton:hover {
  background-color: #4EB1BA;
  color: #E9E9E9;
}

/* filters */
.ratingFilter {
  margin: 10px;

  border: none;
  border-top: 1px solid #E9E9E9;
}

.checkbox {
  composes: checkboxInputReset from '../CSS/reset.css';
  composes: checkbox from '../CSS/elements.css';
}
