@media screen and (max-width: 819px) {
  .sidebar {
    width: 90vw;
    margin-top: 2vh;
  }
}

@media screen and (min-width: 820px) {
  .sidebar {
    position: absolute;
    right: 0;
    top: 150px;
    width: 30%;
  }
}

.sidebar {
  border: 1px solid var(--font-color);
}

/* button */
.getAnimeButton {
  composes: buttonReset from '../../app/css/reset.css';
  composes: button from '../../app/css/elements.css';
  display: block;

  margin: 5px 10px;
  padding: 5px 10px;
}

/* filters */
.ratingFilter {
  margin: 10px;

  border: none;
  border-top: 1px solid var(--font-color);
}

.checkbox {
  composes: checkboxInputReset from '../../app/css/reset.css';
  composes: checkbox from '../../app/css/elements.css';
}
