.animeInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 150px;

  width: 60%;
  margin-left: 20px;

  list-style: none;
}

.animeInfo {
  width: 110px;
  margin-bottom: 20px;
}
